<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774640621936-ok3jhdh9j0afbmdv0d4d30usr2nlsqv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774640621936-ok3jhdh9j0afbmdv0d4d30usr2nlsqv5</string>
	<key>API_KEY</key>
	<string>AIzaSyBpqdS84Sx8iTwM6eToZXcKZ_EurK6xmzM</string>
	<key>GCM_SENDER_ID</key>
	<string>774640621936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slinfy.slinfyCrmAdmin</string>
	<key>PROJECT_ID</key>
	<string>slinfy-crm</string>
	<key>STORAGE_BUCKET</key>
	<string>slinfy-crm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774640621936:ios:2368df54709a714a9157b5</string>
	<key>DATABASE_URL</key>
	<string>https://slinfy-crm-default-rtdb.firebaseio.com</string>
</dict>
</plist>